{{ define "main" }}
  {{ if not .Params.hideTitle }}<h1>{{ .Title }}</h1>{{ end }}
  {{ range (first 10 .Pages.ByDate.Reverse) }}
    <article class="blog-post-summary">
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <div class="blog-post-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        {{ with .Params.authors }}
          <span class="blog-post-author">&middot; {{ . }}</span>
        {{ end }}
      </div>
      <p>{{ .Summary }}</p>
      <a href="{{ .RelPermalink }}">Read more</a>
    </article>
  {{ end }}
{{ end }}
