<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }} | Medplum</title>
    {{ $js := resources.Get "js/main.mjs" | js.Build | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" defer></script>
    {{ $opts := dict "transpiler" "libsass" "includePaths" (slice "open-color") }}
    {{ $style := resources.Get "css/main.scss" | toCSS $opts | minify | fingerprint }}
    <link
      rel="stylesheet"
      href="{{ $style.RelPermalink }}"
      integrity="{{ $style.Data.Integrity }}"
    />
  </head>
  <body
    {{ if eq .Section "docs" }}
      data-sidebar="open"
    {{ else }}
      data-sidebar="closed"
    {{ end }}
  >
    {{ partial "navbar" . }}
    <div class="doc-wrapper">
      <div class="doc-root">
        <aside>
          {{ partial "sidebar" . }}
        </aside>
        <main id="swup">
          <div class="container row">
            <div class="main-content">
              {{ partial "breadcrumbs" . }}
              {{ block "main" . }}{{ end }}
              {{ partial "doc-footer" . }}
            </div>
            <div class="main-toc">
              {{ .TableOfContents }}
            </div>
          </div>
        </main>
      </div>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
