<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      (function () {
        var theme = localStorage.getItem('theme');
        if (theme) document.documentElement.setAttribute('data-theme', theme);
      })();
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }} | Medplum</title>
    {{ $js := resources.Get "js/main.mjs" | js.Build | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" defer></script>
    {{ $infima := resources.Get "infima.css" | toCSS }}
    {{ $openColor := resources.Get "open-color.css" | toCSS }}
    {{ $opts := dict "transpiler" "libsass" }}
    {{ $scss := resources.Get "css/main.scss" | toCSS $opts }}
    {{ $style := slice $infima $openColor $scss | resources.Concat "css/bundle.css" | minify | fingerprint }}
    <link
      rel="stylesheet"
      href="{{ $style.RelPermalink }}"
      integrity="{{ $style.Data.Integrity }}"
    />
  </head>
  <body
    {{ if eq .Section "docs" }}
      data-sidebar="open"
    {{ else }}
      data-sidebar="closed"
    {{ end }}
  >
    {{ partial "navbar" . }}
    <div class="doc-wrapper">
      <div class="doc-root">
        <aside>
          {{ partial "sidebar" . }}
        </aside>
        <main id="swup">
          <div class="main-container container">
            <div class="row">
              <div class="main-content">
                {{ partial "breadcrumbs" . }}
                {{ block "main" . }}{{ end }}
                {{ partial "doc-footer" . }}
              </div>
              <div class="main-toc">
                {{ .TableOfContents }}
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
