@import "./open-color.scss";
@import "./fonts.scss";
@import "./components/animated-circle.scss";
@import "./components/breadcrumbs.scss";
@import "./components/card.scss";
@import "./components/card-container.scss";
@import "./components/doc-footer.scss";
@import "./components/hero.scss";
@import "./components/feature.scss";
@import "./components/feature-grid.scss";
@import "./components/footer.scss";
@import "./components/jumbotron.scss";
@import "./components/navbar.scss";
@import "./components/section.scss";
@import "./components/sidebar.scss";
@import "./components/toc.scss";

:root {
  /* Docusaurus defaults */
  --ifm-container-width: 1140px;
  --ifm-spacing-horizontal: 16px;
  --ifm-heading-margin-top: 0;
  --ifm-heading-margin-bottom: 24px;
  --ifm-heading-font-weight: 400;
  --ifm-h1-font-size: 3rem;
  --ifm-h2-font-size: 2rem;
  --ifm-h3-font-size: 1.5rem;
  --ifm-h4-font-size: 1.25rem;
  --ifm-h5-font-size: 1rem;
  --ifm-h6-font-size: 0.875rem;
  --ifm-code-background: #f6f7f8;
  --ifm-code-border-radius: 0.4rem;
  --ifm-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --ifm-code-font-size: 95%;
  --ifm-code-padding-horizontal: 0.1rem;
  --ifm-code-padding-vertical: 0.1rem;

  /* Medplum overrides */
  --ifm-font-size-base: 16px;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: "Poppins", sans-serif;
  --ifm-color-primary: var(--oc-grape-8);
  --ifm-color-primary-dark: var(--oc-grape-8);
  --ifm-color-primary-darker: var(--oc-grape-9);
  --ifm-color-primary-darkest: var(--oc-grape-9);
  --ifm-color-primary-light: var(--oc-grape-2);
  --ifm-color-primary-lighter: var(--oc-grape-1);
  --ifm-color-primary-lightest: var(--oc-grape-0);
  --ifm-heading-color: #000000;
  --code-block-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px;
  --img-block-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px;
  --docusaurus-highlighted-code-line-bg: rgba(72, 77, 91, 0.2);

  --ifm-footer-background-color: black;
  --ifm-footer-color: var(--oc-gray-5);
  --ifm-footer-title-color: var(--oc-gray-5);
  --ifm-footer-link-color: var(--oc-gray-0);
  --ifm-footer-link-hover-color: var(--oc-grape-6);
  --ifm-footer-padding-vertical: 80px;
}

[data-theme="dark"] {
  --ifm-color-primary: var(--oc-grape-5);
  --ifm-color-primary-dark: #6646af;
  --ifm-color-primary-darker: #402c6e;
  --ifm-color-primary-darkest: #19122c;
  --ifm-color-primary-light: #ba9ff9;
  --ifm-color-primary-lighter: #ba9ff9;
  --ifm-color-primary-lightest: #ded1fc;
  --ifm-heading-color: #ffffff;
  --code-block-shadow: rgba(0, 0, 0, 0.35) 0 2px 4px;
  --img-block-shadow: rgba(0, 0, 0, 0.95) 0 2px 4px;
  --docusaurus-highlighted-code-line-bg: rgb(100 100 100);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
  line-height: 1.65;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: var(--ifm-color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.doc-wrapper {
  display: flex;
}

.doc-root {
  width: 100%;
  display: flex;
}

aside {
  margin-top: -60px;
  display: none;
  background-color: white;
  border-right: 1px solid var(--oc-gray-3);
  width: 300px;
}

body[data-sidebar="open"] aside {
  display: block;
}

body[data-breadcrumbs="visible"] .breadcrumbs {
  display: flex;
}

body[data-toc="visible"] .main-toc {
  display: block;
}

body[data-doc-footer="visible"] .doc-footer {
  display: block;
}

main {
  display: flex;
  flex-grow: 1;
  padding: 12px 0 0 12px;
  background-color: white;
  max-width: calc(100% - 300px);
}

.main-content {
  flex: 75%;
  padding: 0 16px 0 0;
}

.main-toc {
  display: none; /* Hidden by default */
  flex: 25%;
  padding: 0 16px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--ifm-heading-color);
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  line-height: var(--ifm-heading-line-height);
  margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
}

h1 {
  font-size: var(--ifm-h1-font-size);
}

h2 {
  font-size: var(--ifm-h2-font-size);
}

h3 {
  font-size: var(--ifm-h3-font-size);
}

h4 {
  font-size: var(--ifm-h4-font-size);
}

h5 {
  font-size: var(--ifm-h5-font-size);
}

h6 {
  font-size: var(--ifm-h6-font-size);
}

h1 {
  font-style: normal;
  font-size: 44px;
  line-height: 130%;
}

code {
  background-color: var(--ifm-code-background);
  border-radius: var(--ifm-code-border-radius);
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--ifm-code-font-size);
  padding: var(--ifm-code-padding-vertical) var(--ifm-code-padding-horizontal);
  vertical-align: middle;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1140px;
  padding-left: var(--ifm-spacing-horizontal);
  padding-right: var(--ifm-spacing-horizontal);
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

.clean-list {
  padding-left: 0;
  list-style: none;
}

.row {
  display: flex;
  flex-flow: row;
}

.column {
  flex-grow: 1;
}

@media (max-width: 600px) {
  .row {
    display: flex;
    flex-flow: column;
  }

  .column {
    margin-bottom: 32px;
  }
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
