.animated-circle-container {
  margin: 0 auto;

  & svg {
    width: 200px;
    height: 150px;
  }

  .circle.path {
    stroke-dasharray: 402; /* 2 * PI * r */
    stroke-dashoffset: 402;
    transition: stroke-dashoffset 2s ease-out;
  }

  &.is-visible .circle.path {
    stroke-dashoffset: 0; /* Animates the ring filling up */
  }
}

@keyframes circle-keyframes {
  0% {
    opacity: 1;
    stroke-dashoffset: var(--path-length);
  }
  80% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 0;
  }
}

.path {
  animation: circle-keyframes 5s cubic-bezier(0, 0, 0.58, 1);
  stroke-dasharray: var(--path-length);
  opacity: 0;
}

.circle {
  --path-length: 400;
}
