.card-container {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 2rem auto;
}

@media screen and (max-width: 996px) {
  .card-container {
    flex-direction: column;
  }
}
