.highlight {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  margin-bottom: 50px;
}

.highlight pre {
  background-color: rgb(246, 248, 250) !important;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  color: rgb(57, 58, 52);
  font-family: var(--ifm-font-family-monospace);
  font-size: 15px;
  padding: 16px;
  min-width: 0;
  overflow: auto;
}

.highlight pre code {
  padding: 0;
}

code {
  border-radius: var(--ifm-code-border-radius);
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--ifm-code-font-size);
  padding: var(--ifm-code-padding-vertical) var(--ifm-code-padding-horizontal);
  vertical-align: middle;
}
