.feature {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--oc-gray-0);
  transition: all 200ms ease;
}

[data-theme='dark'] .feature {
  background: #000;
}

.feature-icon {
  transition: all 200ms ease;
  display: flex;
  width: 3rem;
  height: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--oc-indigo-1);
  margin: 0 0 2rem 0;
}

[data-theme='dark'] .feature-icon {
  transition: all 200ms ease;
  background: var(--oc-gray-9);
}

.feature-icon svg {
  /* #9C36B5 */
  color: var(--oc-grape-8);
  currentcolor: var(--oc-grape-8);
}

.feature h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.375rem;
  line-height: 1.2;
  font-weight: 400;
}

.feature p {
  transition: all 200ms ease;
  font-size: 0.9375rem;
  color: var(--oc-gray-7);
}

[data-theme='dark'] .feature p {
  color: var(--oc-gray-4);
}

.feature strong {
  color: var(--oc-grape-8);
  font-weight: 400;
}

.action-button {
  display: flex;
  margin-top: 0.25rem;
  padding: 0.5rem 1rem;
  background-color: var(--oc-indigo-1);
  transition: all 200ms ease;
  font-size: 1.125rem;
  align-items: center;
  border-radius: 16px;
  text-align: center;
  justify-content: center;
}

[data-theme='dark'] .action-button {
  background: var(--oc-gray-9);
}
