.hero {
  min-height: 300px;
  padding: 60px 0;
}

.hero h1 {
  font-style: normal;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.hero p {
  color: #4d4d4d;
  margin: 0;
  font-size: 1.125rem;
}
