.navbar {
  position: sticky;
  display: flex;
  flex-direction: row;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 8px 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  z-index: 200;
}

.navbar-left {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
}

.navbar-right {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 8px;
}

.navbar-link {
  display: inline-block;
  padding: 4px 12px;
  text-decoration: none;
  color: var(--oc-gray-7);
  font-weight: 500;
  font-size: 16px;
}

.navbar-link:hover {
  color: var(--ifm-color-primary);
  text-decoration: none;
}

.navbar-logo-link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 0;
  margin-right: 16px;
}

.navbar-logo-image {
  color: var(--ifm-color-primary);
  display: block;
  margin: 0 auto;
  transform: scale(1);
  transition: all 0.1s ease;
}

.navbar-logo-image:hover {
  transform: scale(1.03);
}

.navbar-icon-btn,
.navbar-text-btn {
  border: 1px solid var(--oc-gray-3);
  color: var(--oc-gray-8);
  cursor: pointer;
  height: 40px;
  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  background: 0 0;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  display: flex;
}

.navbar-icon-btn:hover,
.navbar-text-btn:hover {
  border: 1px solid var(--ifm-color-primary);
  color: var(--ifm-color-primary);
  text-decoration: none;
}

.navbar-icon-btn {
  width: 40px;
}

.navbar-text-btn {
  white-space: nowrap;
  line-height: 100%;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
}

.navbar-primary-btn {
  background-color: var(--oc-grape-8);
  color: white;
}

.navbar-primary-btn:hover {
  background-color: var(--oc-grape-9);
  border-color: white;
  color: white;
}
