.profile-card {
  display: flex;
  flex: 1;
  max-width: 22rem;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--oc-gray-2);
  border-radius: 32px;
  background-color: var(--oc-gray-0);
  transition: all 200ms ease;
}

[data-theme='dark'] .profile-card {
  border-color: var(--oc-gray-8);
  background: black;
}

.profile-card h3 {
  font-size: 1.375rem;
  line-height: 1.2;
  font-weight: 300;
}

.profile-card p {
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 21px;
}

.profile-card-image {
  display: flex;
  overflow: hidden;
  width: 10rem;
  height: 10rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 4px;
  border-color: var(--oc-grape-2);
  border-radius: 99%;
}

.profile-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}

.profile-card-links {
  display: flex;
  flex-direction: row;
  border-top: 1.5px solid rgba(0, 0, 0, 0.2);
  padding-top: 2rem;
}

.profile-card-links a {
  height: 1.875rem;
  max-height: none;
  margin-top: auto;
  padding-right: 0.75rem;
  padding-left: 1rem;
  gap: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 2.5rem;
  text-align: center;
  filter: brightness(55%) grayscale(110%);
}

.profile-card-links a:hover {
  border-radius: 12px;
  background-color: #eddeff;
  filter: brightness(100%) grayscale(0%);
  color: var(--oc-grape-8);
  text-decoration: none;
}

.profile-card-links svg {
  width: 16px;
  height: 16px;
}
