table {
  border-collapse: collapse;
  margin-bottom: 1rem;
  display: block;
  overflow: auto;
}

table thead {
  background-color: rgba(0, 0, 0, 0.03);
}

table tr {
  border-top: 1px solid var(--oc-gray-3);
}

table tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.03);
}

table th,
table td {
  border: 1px solid var(--oc-gray-3);
  padding: 0.75rem;
}

table th {
  font-weight: 700;
}

table td {
  font-size: 14px;
}
