.testimonial-header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  display: flex;
}

.testimonial-header > img {
  width: 3rem;
}

.testimonial-info {
  grid-column-gap: 0.125rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  display: grid;
}

.testimonial-name {
  font-weight: 700;
}

.testimonial-title {
  font-size: 0.75rem;
}

.testimonial-link {
  flex: none;
  max-width: 100%;
  display: inline-block;
  color: #1da1f2;
}
