/*
 * Customize Hugo's Table of Contents styles
 * See: https://gohugo.io/methods/page/tableofcontents/
 */

#TableOfContents {
  border-left: 1px solid var(--oc-gray-3);
  max-height: calc(100vh - 84px);
  top: 76px;
  position: sticky;
  overflow-y: auto;
  padding: 14px 4px;
}

#TableOfContents ul {
  padding-left: 0;
  list-style: none;
}

#TableOfContents a {
  display: inline-block;
  padding: 0 12px;
  text-decoration: none;
  color: var(--ifm-toc-link-color);
  font-weight: 400;
  font-size: 12.8px;
}

#TableOfContents a.active,
#TableOfContents a:hover {
  color: var(--ifm-color-primary);
  text-decoration: none;
}
